<!DOCTYPE html>
<html lang="en">

<head>
    <base href="{{baseHref}}/">
    </base>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Coding</title>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <div class="container">
        <div class="main">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#DebuggerStdout">Debugger output</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active show" id="Home">
                    <div class="manage-debug-server-view">
                        <div class="card text-white bg-dark mt-3 mb-3">
                            <div class="card-header">Manage debug server</div>
                            <div class="card-body">
                                <button class="btn btn-info btn-lg btn-start-debug-server">Start debug server</button>
                                <button class="btn btn-danger btn-lg btn-stop-debug-server">Stop debug server</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 mt-3">
                            <h3>Smart contracts</h3>

                            <div class="smart-contracts-list-view">
                                <button class="btn btn-success btn-lg btn-refresh-smart-contracts">Refresh</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="DebuggerStdout">
                    <pre class="payload mt-3">
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/popper.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/underscore.min.js"></script>
    <script type="text/javascript" src="vendor/backbone.min.js"></script>
    <script type="text/javascript" src="main.js"></script>

    <script id="TemplateSmartContractPanel" type="text/template">
        <div>
            <div class="card mt-2 mb-2">
                <h3 class="card-header"><%= contract.SourceFile %></h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and
                        make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                    <button class="btn btn-info btn-lg btn-build-contract">Build</button>

                    <% if (contract.BytecodeFile) { %>
                        <button class="btn btn-info btn-lg btn-build-deploy">Deploy</button>
                    <% } %>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </script>
    
</body>

</html>