<!DOCTYPE html>
<html lang="en">

<head>
    <base href="{{baseHref}}/">
    </base>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Coding</title>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <div class="container-fluid">
        <div class="main">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#BuilderStdout">Build output</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#DebuggerStdout">Debugger output</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#RestDialogue">REST dialogue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ExtensionConsole">Extension console</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active show" id="Home">
                    <div class="manage-debug-server-view">
                        <div class="card text-white bg-dark mt-3 mb-3">
                            <div class="card-header">Manage debug server</div>
                            <div class="card-body">
                                <button class="btn btn-info btn-lg btn-start-debug-server">Start debug server</button>
                                <button class="btn btn-danger btn-lg btn-stop-debug-server">Stop debug server</button>
                            </div>
                        </div>
                    </div>

                    <div class="row configuration-view">
                        <div class="col-sm-12 mt-3">
                            <form>
                                <div class="form-group">
                                    <label class="">Sender address:</label>
                                    <input class="form-control" name="SenderAddress" type="text" value="d4105de8e44aee9d4be670401cec546e5df381028e805012386a05acf76518d9" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 mt-3">
                            <h3>Smart contracts</h3>

                            <div class="smart-contracts-list-view">
                                <button class="btn btn-success btn-lg btn-refresh-smart-contracts">Refresh</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="BuilderStdout">
                    <pre class="payload mt-3">
                    </pre>
                </div>
                <div class="tab-pane" id="DebuggerStdout">
                    <pre class="payload mt-3">
                    </pre>
                </div>
                <div class="tab-pane" id="RestDialogue">
                    <pre class="payload mt-3">
                    </pre>
                </div>
                <div class="tab-pane" id="ExtensionConsole">
                    <pre class="payload mt-3">
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/popper.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/underscore.min.js"></script>
    <script type="text/javascript" src="vendor/backbone.min.js"></script>

    <script type="text/javascript" src="models.js"></script>
    <script type="text/javascript" src="views.smartContractsList.js"></script>
    <script type="text/javascript" src="views.smartContractPanel.js"></script>
    <script type="text/javascript" src="views.others.js"></script>
    <script type="text/javascript" src="main.js"></script>

    <script id="TemplateSmartContractPanel" type="text/template">
        <div>
            <div class="card mt-2 mb-2">
                <h3 class="card-header"><%= contract.FriendlyId %></h3>

                <div class="card-body">
                    <p class="card-title">Source: <strong><%= contract.SourceFile %></strong></p>
                    <p class="card-title">Bytecode: <strong><%= contract.BytecodeFile || "none yet" %></strong></p>
                    <p class="card-title">Address: <strong><%= contract.Address || "none yet" %></strong></p>
                </div>
                <div class="card-body">
                    <button class="btn btn-info btn-lg btn-build-contract">Build</button>

                    <% if (contract.BytecodeFile) { %>
                        <button class="btn btn-info btn-lg btn-deploy-contract">Deploy</button>
                    <% } %>

                    <% if (contract.Address) { %>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <form>
                                    <fieldset>
                                        <legend>Run function</legend>
                                        <div class="form-group">
                                            <label>Function name</label>
                                            <input name="FunctionName" type="text" class="form-control" required placeholder="myExportedFunction" value="<%= contract.LatestRun.Options.functionName %>">
                                            <small class="form-text text-muted">An exported function of your smart contract.</small>
                                        </div>
                                        <div class="form-group">
                                            <label>Function arguments</label>
                                            <textarea name="FunctionArgs" class="form-control" rows="3"><%= contract.LatestRun.Options.functionArgs.join("\n") %></textarea>
                                            <small class="form-text text-muted">Use a line break to seprate more arguments.</small>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Value</label>
                                                    <input name="Value" type="text" class="form-control" required placeholder="0" value="<%= contract.LatestRun.Options.value %>">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Gas limit</label>
                                                    <input name="GasLimit" type="number" class="form-control" required placeholder="42" value="<%= contract.LatestRun.Options.gasLimit %>">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Gas price</label>
                                                    <input name="GasPrice" type="number" class="form-control" required placeholder="1" value="<%= contract.LatestRun.Options.gasPrice %>">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-success btn-run-contract" type="button">Call function</button>
                                    </fieldset>
                                </form>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="vm-output-view"></div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </script>

    <script id="TemplateVMOutput" type="text/template">
        <div>Return data: <strong><%= data.ReturnData %></strong></div>
        <div>Return code: <strong><%= data.ReturnCode %></strong></div>
        <div>Gas remaining: <strong><%= data.GasRemaining %></strong></div>
        <div>Gas refund: <strong><%= data.GasRefund %></strong></div>
        
        <div>Output accounts:</div>
        <pre><%= JSON.stringify(data.OutputAccounts, null, 4) %></pre>
    </script>
</body>

</html>