<div class="environment-view">
    <div class="row">
        <div class="col-sm-12 mt-2">
            <p class="mt-2">
                Tools and dependencies are downloaded to the configured folder, which is
                <kbd class="configuration-ide-folder"></kbd>.<br />
                <!-- <button class="btn btn-xs btn-primary btn-refresh" title="Refresh">&#x21bb;</button> -->
                They are downloaded from a mirror created specifically for Elrond IDE, located at
                <kbd class="configuration-download-mirror"></kbd>.<br />
                If you wish to change the configured folder or the download mirror, <strong>please review the
                    extension's
                    settings.</strong>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Dependencies</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Site</th>
                        <th scope="col">Details</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>C buildchain</th>
                        <td><a href="https://llvm.org">LLVM</a></td>
                        <td>
                            <p>
                                In order to build smart contracts to WASM bytecode, a subset of LLVM
                                is necessary. More specifically, <strong>clang</strong>, <strong>llc</strong> and
                                <strong>wasm-ld</strong>.
                            </p>
                        </td>
                        <td><button class="btn btn-block btn-primary btn-install-build-tools-c" title="Download"><i class="fas fa-download"></i></button></td>
                        <td><button class="btn btn-block btn-outline-danger" title="Remove"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                        <th>Rust buildchain</th>
                        <td><a href="https://www.rust-lang.org/">rust-lang</a></td>
                        <td>This is required in order to build smart contracts with <strong>Rust</strong> programming language.</td>
                        <td><button class="btn btn-block btn-primary btn-install-build-tools-rust" title="Install"><i class="fas fa-download"></i></button></td>
                        <td><button class="btn btn-block btn-outline-danger btn-uninstall-build-tools-rust" title="Uninstall"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <th>Solidity buildchain</th>
                        <td>
                            <a href="https://github.com/second-state/soll">Second State SOLL compiler</a>, plus
                            <a href="https://llvm.org">LLVM (8.0.0)</a>
                        </td>
                        <td>
                            <p>
                                <strong>Second State - SOLL</strong> is a new compiler for generating Ewasm (Ethereum flavored WebAssembly) files from Solidity.
                            </p>
                        </td>
                        <td><button class="btn btn-block btn-primary btn-install-build-tools-sol" title="Download"><i class="fas fa-download"></i></button></td>
                        <td><button class="btn btn-block btn-outline-danger" title="Remove"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                        <th>Elrond nodedebug</th>
                        <td><a href="https://github.com/ElrondNetwork/elrond-go-node-debug">elrond-go-node-debug</a>
                        </td>
                        <td>
                            <p>
                                This <strong>variant of the Elrond node</strong> is required for debugging
                                smart contracts. It enables a HTTP endpoint which is then used by the Visual Studio Code
                                extension
                                to deploy smart contracts and execute exported functions.
                            </p>
                        </td>
                        <td><button class="btn btn-block btn-primary btn-install-debug-node" title="Download"><i class="fas fa-download"></i></button></td>
                        <td><button class="btn btn-block btn-outline-danger" title="Remove"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="downloads-progress"></div>
            <script id="TemplateDownloadsProgress" type="text/template">
                <h4>Downloads</h4>
                <table class="table table-hover table-stripped">
                    <% _.each(downloads, function(value, key) { %>
                        <tr>
                            <td><%= value.percentage %> %</td>
                            <td><%= value.url %></td>
                            <td><%= value.file %></td>
                            <td>
                                <%= Math.round(value.downloaded / (1024 * 1024)) %>
                                /
                                <%= Math.round(value.length / (1024 * 1024)) %>
                                MB
                            </td>
                        </tr>
                    <% }) %>
                </table>
            </script>
            <strong><span class="downloading-progress"></span></strong>
            <span class="downloading-url"></span>
        </div>
    </div>
</div>