<div class="environment-view">
    <div class="row">
        <div class="col-sm-12 mt-2">
            <button class="btn btn-info btn-refresh">Refresh environment settings</button>
            <p class="mt-2">
                Tools and dependencies are downloaded to the configured folder, which is:
                <kbd class="configuration-ide-folder"></kbd>.
                They are downloaded from a mirror created specifically for Elrond IDE, located at:
                <kbd class="configuration-download-mirror"></kbd>.
                If you wish to change the configured folder or the download mirror, please review the extension's
                settings.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>
                Please note that in order to <em>deploy</em> and <em>run</em> on a local testnet, you need to
                <strong>separately</strong>
                download the Elrond node and start a testnet by yourself.
            </p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Site</th>
                        <th scope="col">Details</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>C buildchain</th>
                        <td><a href="https://llvm.org">LLVM</a></td>
                        <td>
                            <p>
                                In order to build smart contracts to WASM bytecode, a subset of LLVM
                                is necessary. More specifically, <strong>clang</strong>, <strong>llc</strong> and
                                <strong>wasm-ld</strong>.
                            </p>
                        </td>
                        <td><button class="btn btn-block btn-info btn-install-build-tools-c">Download</button></td>
                        <td><button class="btn btn-block btn-danger">Remove</button></td>
                    </tr>
                    <tr>
                        <th>Rust buildchain</th>
                        <td><a href="https://www.rust-lang.org/">rust-lang</a></td>
                        <td>...</td>
                        <td><button class="btn btn-block btn-info btn-install-build-tools-rust">Install</button></td>
                        <td><button class="btn btn-block btn-danger btn-uninstall-build-tools-rust">Uninstall</button>
                        </td>
                    </tr>
                    <tr>
                        <th>Elrond nodedebug</th>
                        <td><a href="https://github.com/ElrondNetwork/elrond-go-node-debug">elrond-go-node-debug</a>
                        </td>
                        <td>
                            <p>
                                This <strong>variant of the Elrond node</strong> is required for debugging
                                smart contracts. It enables a HTTP endpoint which is then used by the Visual Studio Code
                                extension
                                to deploy smart contracts and execute exported functions.
                            </p>
                        </td>
                        <td><button class="btn btn-block btn-info btn-install-debug-node">Download</button></td>
                        <td><button class="btn btn-block btn-danger">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="downloads-progress"></div>
            <script id="TemplateDownloadsProgress" type="text/template">
                <h4>Downloads</h4>
                <table class="table table-hover table-stripped">
                    <% _.each(downloads, function(value, key) { %>
                        <tr>
                            <td><%= value.percentage %> %</td>
                            <td><%= value.url %></td>
                            <td><%= value.file %></td>
                            <td>
                                <%= Math.round(value.downloaded / (1024 * 1024)) %>
                                /
                                <%= Math.round(value.length / (1024 * 1024)) %>
                                MB
                            </td>
                        </tr>
                    <% }) %>
                </table>
            </script>
            <strong><span class="downloading-progress"></span></strong>
            <span class="downloading-url"></span>
        </div>
    </div>
</div>