<div class="environment-view">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-success btn-lg btn-refresh">Refresh environment settings</button>
        </div>
        <div class="col-sm-12">
            <div class="form-group mt-3">
                <fieldset>
                    <label class="control-label">Tools folder</label>
                    <input class="form-control" name="ToolsFolder" type="text" readonly="">
                </fieldset>
            </div>
        </div>
    </div>

    <p>
        In order to build the smart contract to WASM bytecode, you need to install
        <a href="https://clang.llvm.org/">clang and llc</a>.
    </p>

    <p>
        You also need to download the <strong>debug node</strong>.
    </p>

    <p>
        In order to <em>deploy</em> and <em>run</em> on a testnet, you also need to download and run an Elrond node.
    </p>

    <button class="btn btn-lg btn-info btn-install-build-tools">Install clang and llc</button>
    <button class="btn btn-lg btn-info btn-install-go">Install go environment</button>
    <button class="btn btn-lg btn-info btn-install-debug-node">Install debug node</button>

    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="downloads-progress"></div>
            <script id="TemplateDownloadsProgress" type="text/template">
                <h4>Downloads</h4>
                <table class="table table-hover table-stripped">
                    <% _.each(downloads, function(value, key) { %>
                        <tr>
                            <td><%= value.percentage %> %</td>
                            <td><%= value.url %></td>
                            <td><%= value.file %></td>
                            <td>
                                <%= Math.round(value.downloaded / (1024 * 1024)) %>
                                /
                                <%= Math.round(value.length / (1024 * 1024)) %>
                                MB
                            </td>
                        </tr>
                    <% }) %>
                </table>
            </script>
            <strong><span class="downloading-progress"></span></strong>
            <span class="downloading-url"></span>
        </div>
    </div>
</div>