<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Build Options</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <form>
                <% if (contract.IsSourceC) { %>
                <div class="form-group">
                    <label>Exported functions</label>
                    <textarea name="ExportedFunctions" class="form-control" rows="3"><%= contract.ExportFile.Text %></textarea>
                </div>
                <% } else if (contract.IsSourceRust) { %>
                    <p>No build options for Rust (yet).</p>
                <% } %>
            </form>

            <div class="alert alert-danger validation-errors-container d-none"></div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info btn-submit">Save</button>
        </div>
    </div>
</div>