<div>Return data (base64): <strong><%= data.ReturnData %></strong></div>
<div>Return data (hex): <strong><%= data.ReturnDataHex %></strong></div>
<div>Return data (decimal): <strong><%= data.ReturnDataDecimal %></strong></div>
<div>Return code: <strong><%= data.ReturnCode %></strong></div>
<div>Gas remaining: <strong><%= data.GasRemaining %></strong></div>
<div>Gas refund: <strong><%= data.GasRefund %></strong></div>

<div>Output accounts:</div>
<pre><%= JSON.stringify(data.OutputAccounts, null, 4) %></pre>