<div>
    <div class="card mt-2 mb-2">
        <h4 class="card-header"><%= contract.FriendlyId %></h4>
        <div class="card-body">
            <div>
                Source:
                <strong><%= contract.SourceFile %></strong>
                <span class="text-muted"><%= contract.SourceFileTimestamp %></span>
            </div>
            <div>
                Bytecode:
                <strong><%= contract.BytecodeFile || "none yet" %></strong>
                <span class="text-muted"><%= contract.BytecodeFileTimestamp %></span>
            </div>
            <div>
                Address:
                <strong><%= contract.Address || "none yet" %></strong>
                <span class="text-muted"><%= contract.AddressTimestamp %></span>
            </div>
            <div>
                Address on Testnet:
                <strong><%= contract.AddressOnTestnet || "none yet" %></strong>
                <span class="text-muted"><%= contract.AddressOnTestnetTimestamp %></span>
            </div>

            <div class="mt-2">
                <button class="btn btn-info btn-build-contract">Build</button>
                <button class="btn btn-link btn-build-options">Build Options</button>

                <% if (contract.BytecodeFile) { %>
                <button class="btn btn-info btn-deploy-contract">Deploy</button>
                <button class="btn btn-warning btn-deploy-contract-testnet">Deploy on Testnet</button>
                <% } %>

                <% if (contract.Address) { %>
                <button class="btn btn-info btn-run-contract" type="button">Run function</button>
                <% } %>

                <% if (contract.AddressOnTestnet) { %>
                <button class="btn btn-warning btn-run-contract-testnet" type="button">Run function on Testnet</button>
                <% } %>

                <% if (contract.Address) { %>
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <h5>VM output (on debug node)</h5>
                        <div class="vm-output-view"></div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>