<% _.each(contract.WatchedVariables, function(variable, index) { %>
<div class="watched-variable" data-index="<%= index %>">
    <div class="card border-info mb-3">
        <div class="card-header">Watched variable: <kbd><%= variable.Name %></kbd></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Variable name</label>
                        <input name="VariableName" type="text" class="form-control" required
                            value="<%= variable.Name %>">
                        <small class="form-text text-muted">Example: "alice's balance", "bob's
                            balance".</small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Getter function name</label>
                        <input name="FunctionName" type="text" class="form-control" required
                            value="<%= variable.FunctionName %>">
                        <small class="form-text text-muted">An exported getter function of your
                            smart
                            contract.</small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Aguments for the getter function</label>
                <textarea name="Args" class="form-control" rows="3"><%= variable.Arguments.join("\n") %></textarea>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-block btn-success btn-update-watch mt-2">Update
                        watch</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-block btn-warning btn-delete-watch mt-2">Delete
                        watch</button>
                </div>
            </div>
        </div>
    </div>
</div>
<% }) %>